h3{
    color:#69306d;
}

.my-navbar {
    color: white;
    background-color: #69306d;
    border: none;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0px;
}
.my-searchbar {
    border-radius: 0px;
}
.my-searchbar-search{
    border-radius: 0px;
    background-color: #a5668b;
    color: white;
    border: 0px;
}
.my-searchbar-search:hover{
    background-color: #d3bcc0;
    color: #69306d;
    border: 0px;
}
.my-searchbar-search:active, .my-searchbar-search:active:focus, .my-searchbar-search:hover:focus{
    background-color: #d3bcc0;
    color: #69306d;
    border: 0px;
    box-shadow: none;
}
.my-panel{
    border-radius: 0px;
    box-shadow: 1px 1px 1px #f2d7ee;
}
.form-control:focus{
    border-color: #a5668b;
    box-shadow: 0.5px 0.5px 0.5px #f2d7ee;
}