<!DOCTYPE html>
<html lang="en" ng-app="BookCatApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <title>BookCatn.io - Book Cataloging made fun!</title>

</head>

<body ng-controller="AddBookCtrl as bookCtrl">
    <!-- Start of Navbar -->
    <nav class="navbar navbar-inverse my-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <img src="/assets/images/bookcat-1.svg" width="50" height="50" class="d-inline-block align-top" alt="">
            </div>
            <!-- Search Bar -->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control my-searchbar" placeholder="Search">
                    <button type="submit" class="btn btn-default my-searchbar-search">Search</button>
            </form>
        </div>
            <!-- End of Search Bar -->
            <!-- NavBar Links -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-pnavbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- NavBar Link 1 -->
                <li><a href="#">Your Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle my-navbar-font" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End of Navbar Links -->
    </nav>
    <!-- End of Navbar -->

    <!-- Start of Jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-12">
            <h2>Bring the sexy back to reading!</h2>
                <p>Add a new book to your catalogue today.</p>
                <form name="searchForm" novalidate ng-submit="bookCtrl.search()">
                    <div class="form-group">
                        <input type="text" class="form-control my-searchbar" 
                        placeholder="ISBN / Author Name / Title of Book"
                        ng-model="bookCtrl.queryStr" required>
                        <button 
                            type="submit" class="btn btn-default my-searchbar-search" 
                            data-toggle="modal" data-target="#searchModal"
                            ng-disabled="searchForm.$invalid">Search</button>
                    </div>                    
                </form>
            </div>
    <!-- End of Jumbotron -->
    <!-- Right Side of Jumbotron -->
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                <img src="/assets/images/bookcat-1.svg" width="200px" height="200px" padding="0px" alt="" srcset="">
            </div>
    <!-- End of Right Side of Jumbotron -->
        </div>
    </div>

    <!-- Modal -->
    <div id="searchModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
                </button>
                <h4 class="modal-title" id="classModalLabel">
                    Search result for {{ bookCtrl.queryStr }}
                    <h5>{{bookCtrl.booksGoodReads.length}} results found</h5>
                </h4>

            </div>
            <div class="modal-body">
                <label for="selectall" id="selectControl">Select All</label>
                <input type="checkbox" id="selectall" 
                    ng-model="bookCtrl.selectedAll"
                    ng-click="bookCtrl.selectAll()" />
              <table id="classTable" class="table table-bordered">
                <tbody>
                  <tr ng-repeat="b in bookCtrl.booksGoodReads">
                    <td>{{$index + 1}}
                        <!--
                            check if bookCtrl.addFlag[$index] == false, 
                            then checkbox is enable
                            else
                            checkbox is disabled
                        -->
                        <input type="checkbox" name="books[]" 
                        value="{{$index}}" id="{{$index}}"
                        ng-model="b.Selected" />
                    </td>
                    <td>
                        <img ng-src="{{b.image_url[0]}}" alt="book cover" />
                    </td>
                    <td>
                        {{ b.title[0] }}  
                        <br>
                        by:
                        <span ng-if="b.authors[0].author.length > 1">
                            <span ng-repeat="a in b.authors[0].author">
                                {{ a.name[0] }}  |  
                            </span>
                        </span>
                        <span ng-if="b.authors[0].author.length == 1">
                            <span ng-repeat="a in b.authors[0].author">
                                    {{ a.name[0] }}    
                            </span>
                        </span>
                        <br>
                        Rating: {{ b.average_rating[0] }}
                        <br>
                        ISBN10: {{ b.isbn[0] }} | ISBN13: {{ b.isbn13[0] }}
                        <br>
                        Publisher: {{ b.publisher[0] }}
                        <br>
                        Format: {{ b.format[0] }}
                        <br>
                        <!--
                            check if bookCtrl.addFlag[$index] == false, 
                            then Add button is enable
                            else
                            Add button change to Added and disabled
                        -->
                        <button type="button" class="btn btn-light"
                            ng-click="bookCtrl.addBook($index)">
                                Add
                        </button>
                        <!--
                        <br>
                        {{ b.description[0] }}
                        -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-primary" ng-click="bookCtrl.addBooks()">
                        Add the selected
                </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      
    <!-- End of Modal -->

    <!-- Start of View, to be removed in separate ui view -->
    <div class="container">

        <!-- Left Side Column -->
        <div class="col-md-8">
            <!-- Start of Table -->
            <div class="col-md-6">            
                <h3>Your Catalogue <span class="badge">168</span></h3>
            </div>
            <div class="col-md-6">            
                <div class="input-group">
                    <input type="text" class="form-control  my-searchbar" placeholder="...">
                    <span class="input-group-btn">
                    <button class="btn btn-default my-searchbar" type="button">Find</button>
                    </span>
                </div>
            </div>
            <table class="table table-hover table-condensed table-responsive">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Bookshelf</th>
                </tr>
                <tr ng-repeat="">
                    <td>{{ # }}</td>
                    <td>{{ title }}</td>
                    <td>{{ author }}</td>
                    <td>{{ genre }}</td>
                    <td>{{ lists }}</td>
                </tr>
                <tr ng-repeat="">
                    <td>{{ # }}</td>
                    <td>{{ title }}</td>
                    <td>{{ author }}</td>
                    <td>{{ genre }}</td>
                    <td>{{ lists }}</td>
                </tr>
                <tr ng-repeat="">
                    <td>{{ # }}</td>
                    <td>{{ title }}</td>
                    <td>{{ author }}</td>
                    <td>{{ genre }}</td>
                    <td>{{ lists }}</td>
                </tr>    
                <tr ng-repeat="">
                    <td>{{ # }}</td>
                    <td>{{ title }}</td>
                    <td>{{ author }}</td>
                    <td>{{ genre }}</td>
                    <td>{{ lists }}</td>
                </tr>    
            </table>
        <!-- End of Table -->
        <!-- Pagination -->
            <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
            </div>
        <!-- End of Pagination -->
        </div>
        <!-- End of Left Side Column -->

        <!-- Right Side Column -->
        <div class="col-md-4">
            <!-- Currently Reading -->
            <div>
                <div class="panel panel-default my-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">What are you reading now?</h3>
                    </div>
                    <div class="panel-body">
                        Currently reading...
                    </div>
                </div>
            </div>
            <!-- End of Currently Reading -->
            <!-- Community Forums -->
            <div>
                <div class="panel panel-default my-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Discussions</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <!-- Community Forms -->
            <!-- End of Recommendations / Price Watch -->
            <div>
                <div class="panel my-panel panel-default ">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recommendations</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <!-- End of Recommendations / Price Watch -->

        </div>
        <!-- End of Right Side Column -->


    </div>

<!---Loading script -->
<script src="/libs/angular/angular.js"></script>
<script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/app/app.js"></script>
<script src="app/services/auth.services.js"></script>
<script src="/app/services/addbook.services.js"></script>
<script src="/app/add/addbook.controller.js"></script>
<!-- ***************************************************************** -->

</body>
</html>